@import '/src/vars.scss';

.container,
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $background-color-primary;
  border-radius: 30px;

  @include tablet {
    gap: 15px;
  }

  @include mobile {
    gap: 10px;
  }
}

.container {
  padding: $padding-vertical-global $padding-horizontal-global;

  @include mobile {
    padding: 15px;
  }

  @include tablet {
    padding: $padding-vertical-global 20px;
  }

  @include laptop {
    padding: $padding-vertical-global 50px;
  }
}