@import '/src/vars.scss';

.text {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;

  &--default {
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
  }

  &--title, &--logo {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
  }

  &--logo {
    font-family: 'Archivo Black', sans-serif;
  }

  &--subtitle {
    font-size: 24px;
    font-weight: 900;
  }

  &--description {
    font-size: 14px;
  }

  &--count {
    font-size: 23px;
    font-weight: 800;
  }
}

.dark {
  &.text {
    &--default,
    &--title,
    &--logo,
    &--count,
    &--subtitle {
      color: $text-color-dark-primary;
    }

    &--description {
      color: $text-color-dark-secondary;
    }
  }
}

.light {
  &.text {
    &--default,
    &--title,
    &--logo,
    &--count,
    &--subtitle {
      color: $text-color-light-primary;
    }

    &--description {
      color: $text-color-light-secondary;
    }
  }
}
