@import '/src/vars.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  background-color: $background-color-secondary;
  box-shadow: $box-shadow-container;
  border-radius: 30px;
  padding: 32px 64px;

  @include laptop {
    padding: 20px 40px;
  }

  @include mobile {
    padding: 10px;
    gap: 5px;
  }

  @include tablet {
    padding: 15px 30px;
    gap: 20px;
  }
}