@import 'vars';

*, *::before, *::after, html, body {
	font-family: 'Nunito Sans', Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	scroll-behavior: smooth;
	color: $text-color-dark-primary;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: 'Nunito Sans', Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: $background-color-primary;
}

/* RESET STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
img, a, button, li {
	-webkit-user-drag: none;
	user-select: none;
}
button, input {
	border: none;
	outline: none;

	&:focus {
		border: none;
		outline: none;
	}
}
button, a, li, option, select {
	cursor: pointer;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
}
input {
	&::placeholder {
		user-select: none;
	}
}